{% extends 'scheduler/base.html' %}

{% block title %}
Home
{% endblock %}



{% block content %}

<div class="container-fluid text-center mt-5 mb-5">
    <h1>Steps to use the website</h1>
    <div class=" container d-flex justify-content-start mt-3 ">
        <div class="card bt_shadow" style="width: 50rem;">
            <div class="card-body">
              <h5 class="card-title">Step 1</h5>
              <p class="card-text">If you don't have an account make one</p>
              <p class="card-text">After creating an account login.</p>
              <p class="card-text">If you are logged in, your username should be displayed in the navbar.</p>
              <p class="card-text">User can log out using logout button.</p>
            </div>
          </div>
    </div>

    <div class=" container d-flex flex-row justify-content-end mt-3 ">
        <div class="card bt_shadow" style="width: 50rem;">
            <div class="card-body">
              <h5 class="card-title">Step 2</h5>
              <p class="card-text">The Calendar logo can be used to navigate to the homepage anytime.</p>
              <p class="card-text">A board is a collection of similar tasks. A link to your boards is in the navbar.</p>
              <p class="card-text">Since you don't have any boads right now create a new one used the add button at bottom right.</p>
              <p class="card-text">After creating a new board user is redirected to My boards page.</p>
            </div>
          </div>
    </div>

    <div class="container d-flex justify-content-start mt-3">
        <div class="card bt_shadow" style="width: 50rem;">
            <div class="card-body">
              <h5 class="card-title">Step 3</h5>
              <p class="card-text">After creating a new board user can open it using the open button.</p>
              <p class="card-text">On the Board page user can delete or update the board and can create a task for the board.</p>
              <p class="card-text">To create a new task use the add button at bottom right.</p>
              <p class="card-text">After creating a task user is redirected to My boards page.</p>
            </div>
          </div>
    </div>
    <div class="container d-flex justify-content-end mt-3">
        <div class="card bt_shadow" style="width: 50rem;">
            <div class="card-body">
              <h5 class="card-title">Step 4</h5>
              <p class="card-text">On opening the required board user can see all the tasks created in that board.</p>
              <p class="card-text">Clicking on the task name takes user to the task selected which can be deleted or updated from there.</p>
            </div>
          </div>
    </div>

</div>

{% endblock %}